
@{
    Layout = "_Layout_auth";
    ViewData["Title"] = "Change Password";
}

<div class="page-wrapper">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card login-dark">
                    <div>
                        <div><a class="logo"> <img class="img-fluid for-dark w-25" src="/assets/images/logo/logo.svg" alt="looginpage"><img class="img-fluid for-light w-25" src="/assets/images/logo/logo.svg" alt="looginpage"></a></div>
                        <div class="login-main">
                            <form class="theme-form" asp-action="ChangePassword" method="post" asp-controller="Account">
                                <h2 class="text-center"><b>Reset Your Password</b></h2>

                                @if ("sdfg" != default)
                                {
                                    <div class="form-group pt-2">
                                        <label class="col-form-label">Current Password</label>
                                        <div class="form-input position-relative">
                                            <input class="form-control w-100" id="oldPassword" type="password" required="" placeholder="*********" autofocus>
                                            <div class="show-hide"><span class="show" onclick="togglePasswordVisibility('oldPassword')"></span></div>
                                        </div>
                                        <span class="text-danger"></span>
                                    </div>
                                }
                                else
                                {
                                    <input hidden />
                                    <input class="form-control d-none" type="password" value="1">
                                }

                                <div class="form-group">
                                    <label class="col-form-label">New Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control w-100" id="newPassword" type="password" required="" placeholder="*********">
                                        <div class="show-hide"><span class="show" onclick="togglePasswordVisibility('newPassword')"></span></div>
                                        
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Confirm Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control w-100" id="confirmPassword" type="password" required="" placeholder="*********">
                                        <div class="show-hide"><span class="show" onclick="togglePasswordVisibility('confirmPassword')"></span></div>
                                        <span id="passwordMatchError" class="text-danger d-none">Passwords do not match!</span>
                                        
                                    </div>
                                    <span class="text-danger"></span>
                                </div>

                                <div class="form-group mb-0 mt-4">
                                    <button class="btn btn-primary btn-block w-100" id="submitBtn" type="submit">Change</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section BodyEndScript {
    <script src="~/view-js/add-user.js"></script>
}