@{
	Layout = "_Layout_auth";
}

<div class="d-flex flex-column flex-root">
	<!--begin::Authentication - Two-stes -->
	<div class="d-flex flex-column flex-lg-row flex-column-fluid">
		<!--begin::Aside-->
		<div class="d-flex flex-column flex-lg-row-auto w-xl-600px positon-xl-relative" style="background-color: #F2C98A">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column position-xl-fixed top-0 bottom-0 w-xl-600px scroll-y">
				<!--begin::Content-->
				<div class="d-flex flex-row-fluid flex-column text-center p-10 pt-lg-20">
					<!--begin::Logo-->
					<a href="../../demo8/dist/index.html" class="py-9 mb-5">
						<img alt="Logo" src="assets/media/logos/logo-2.svg" class="h-60px" />
					</a>
					<!--end::Logo-->
					<!--begin::Title-->
					<h1 class="fw-bolder fs-2qx pb-5 pb-md-10" style="color: #986923;">Welcome to Metronic</h1>
					<!--end::Title-->
					<!--begin::Description-->
					<p class="fw-bold fs-2" style="color: #986923;">
						Discover Amazing Metronic
						<br />with great build tools
					</p>
					<!--end::Description-->
				</div>
				<!--end::Content-->
				<!--begin::Illustration-->
				<div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url(assets/media/illustrations/sketchy-1/13.png"></div>
				<!--end::Illustration-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Aside-->
		<!--begin::Body-->
		<div class="d-flex flex-column flex-lg-row-fluid py-10">
			<!--begin::Content-->
			<div class="d-flex flex-center flex-column flex-column-fluid">
				<!--begin::Wrapper-->
				<div class="w-lg-600px p-10 p-lg-15 mx-auto">
					<!--begin::Form-->
					<form class="form w-100 mb-10" novalidate="novalidate" id="kt_sing_in_two_steps_form">
						<!--begin::Icon-->
						<div class="text-center mb-10">
							<img alt="Logo" class="mh-125px" src="assets/media/svg/misc/smartphone.svg" />
						</div>
						<!--end::Icon-->
						<!--begin::Heading-->
						<div class="text-center mb-10">
							<!--begin::Title-->
							<h1 class="text-dark mb-3">Two Step Verification</h1>
							<!--end::Title-->
							<!--begin::Sub-title-->
							<div class="text-muted fw-bold fs-5 mb-5">Enter the verification code we sent to</div>
							<!--end::Sub-title-->
							<!--begin::Mobile no-->
							<div class="fw-bolder text-dark fs-3">******7859</div>
							<!--end::Mobile no-->
						</div>
						<!--end::Heading-->
						<!--begin::Section-->
						<div class="mb-10 px-md-10">
							<!--begin::Label-->
							<div class="fw-bolder text-start text-dark fs-6 mb-1 ms-1">Type your 6 digit security code</div>
							<!--end::Label-->
							<!--begin::Input group-->
							<div class="d-flex flex-wrap flex-stack">
								<input type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="3" />
								<input type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="0" />
								<input type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="7" />
								<input type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
								<input type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
								<input type="text" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" />
							</div>
							<!--begin::Input group-->
						</div>
						<!--end::Section-->
						<!--begin::Submit-->
						<div class="d-flex flex-center">
							<button type="submit" id="kt_sing_in_two_steps_submit" asp-action="Index" asp-controller="Home" class="btn btn-lg btn-primary fw-bolder">
								<span class="indicator-label">Submit</span>
								<span class="indicator-progress">
									Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
								</span>
							</button>
						</div>
						<!--end::Submit-->
					</form>
					<!--end::Form-->
					<!--begin::Notice-->
					<div class="text-center fw-bold fs-5">
						<span class="text-muted me-1">Didn’t get the code ?</span>
						<a href="#" class="link-primary fw-bolder fs-5 me-1">Resend</a>
						<span class="text-muted me-1">or</span>
						<a href="#" class="link-primary fw-bolder fs-5">Call Us</a>
					</div>
					<!--end::Notice-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Content-->
			<!--begin::Footer-->
			<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
				<!--begin::Links-->
				<div class="d-flex flex-center fw-bold fs-6">
					<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2" target="_blank">About</a>
					<a href="https://keenthemes.com/support" class="text-muted text-hover-primary px-2" target="_blank">Support</a>
					<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2" target="_blank">Purchase</a>
				</div>
				<!--end::Links-->
			</div>
			<!--end::Footer-->
		</div>
		<!--end::Body-->
	</div>
	<!--end::Authentication - Two-stes-->
</div>

@* @section BodyEndScript {
    <script>
        function handleOtpSubmission() {
    // Select all input fields with the class 'code-input'
    const inputs = document.querySelectorAll('.code-input');
    let otp = '';

    // Concatenate the values from each input field
    inputs.forEach(input => {
        otp += input.value;
    });

    // Set the value of the hidden OTP field
    document.getElementById('otp').value = otp;

    // Validate OTP length
    if (otp.length !== 6) {
        alert('Please enter a complete 6-digit OTP.');
        return false; // Prevent form submission if OTP is invalid
    }
    return true; // Allow form submission if OTP is valid
}
        const inputElements = [...document.querySelectorAll("input.code-input")];
        (function () {
            inputElements.forEach((ele, index) => {
                ele.addEventListener("keydown", (e) => {
                    // if the keycode is backspace & the current field is empty
                    // focus the input before the current. Then the event happens
                    // which will clear the "before" input box.
                    if (e.keyCode === 8 && e.target.value === "")
                        inputElements[Math.max(0, index - 1)].focus();
                });
                ele.addEventListener("input", (e) => {
                    // take the first character of the input
                    // this actually breaks if you input an emoji like 👨‍👩‍👧‍👦....
                    // but I'm willing to overlook insane security code practices.
                    const [first, ...rest] = e.target.value;
                    e.target.value = first ?? ""; // first will be undefined when backspace was entered, so set the input to ""
                    const lastInputBox = index === inputElements.length - 1;
                    const didInsertContent = first !== undefined;
                    if (didInsertContent && !lastInputBox) {
                        // continue to input the rest of the string
                        inputElements[index + 1].focus();
                        inputElements[index + 1].value = rest.join("");
                        inputElements[index + 1].dispatchEvent(new Event("input"));
                    }
                });
            });

            // mini example on how to pull the data on submit of the form
            function onSubmit(e) {
                e.preventDefault();
                const code = inputElements.map(({ value }) => value).join("");
                console.log(code);
            }
        })();
    </script>
} *@
